body {
  margin: 0;
  font-family: 'Segoe UI', sans-serif;
  background: linear-gradient(to bottom, #028b9d, #07c9b2);
}

.login-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  height: 100vh;
}

.navbar {
  width: 100%;
  display: flex;
  justify-content: space-between;
  background: transparent;
  color: white;
  padding: 20px 40px;
  font-size: 18px;
}

.logo {
  font-weight: bold;
}

.nav-links {
  list-style: none;
  display: flex;
  gap: 30px;
}

.nav-links li {
  cursor: pointer;
}

.login-box {
  background-color: white;
  border-radius: 15px;
  padding: 30px;
  margin-top: 50px;
  width: 300px;
  text-align: center;
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.2);
}

.login-box h2 {
  margin-bottom: 20px;
}

.login-box input {
  display: block;
  width: 100%;
  margin: 10px 0;
  padding: 10px;
  border-radius: 8px;
  border: 1px solid #ccc;
}

.options {
  display: flex;
  justify-content: space-between;
  font-size: 12px;
  margin: 10px 0;
}

.login-button {
  background-color: orange;
  border: none;
  border-radius: 8px;
  padding: 10px;
  width: 100%;
  font-weight: bold;
  color: white;
  cursor: pointer;
}

.signup {
  margin-top: 10px;
  font-size: 12px;
}

.signup a {
  color: #0077cc;
  text-decoration: none;
}

.pets-image img {
  position: absolute;
  bottom: 0;
  right: 30px;
  max-height: 250px;
}
.mensagem-sucesso {
  margin-top: 15px;
  color: #2d862d;
  font-weight: bold;
  font-size: 16px;
  animation: fadeIn 0.5s ease-in-out;
}

@keyframes fadeIn {
  from { opacity: 0; }
  to { opacity: 1; }
}
